<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.stan.learnmybatis.pojo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
<!--                <property name="url" value="jdbc:mysql://jasonzeng.top:3306/test?characterEncoding=UTF-8"/>-->
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/test?characterEncoding=UTF-8&amp;useSSL=false"/>
                <property name="username" value="test"/>
                <property name="password" value="a123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/BookMapper.xml"/>
    </mappers>
</configuration>